<form id = "container" [formGroup] = "userForm" (ngSubmit)="submitForm()">

    <label>
      Username:
        <input type="text" formControlName="username">        
    </label>

    <label>
        e-mail:
        <input type="text" formControlName="email">     
    </label>
    <div *ngIf = "userForm.get('email').errors && !userForm.get('email').pristine">
    <div [hidden]="!userForm.get('email').invalid">Email is invalid.</div>
    </div>    
    
    <label>
        Password:
        <input type="text" formControlName="password" >
    </label>  

    <label>
        Street Address:
        <input type="text" formControlName="streetAddress">
    </label>   

    <label>
        Post Code:
        <input type="text" formControlName="postCode">
    </label>  

    <label>
        City:
        <input type="text" formControlName="city">
    </label> 

    <button type="submit" [disabled]="userForm.invalid">Submit</button>



</form>
  
